<div class="container">
  <div class="row">
  <div style="margin: 40px">
      <!-- <div class="col-xs-offset-3 col-xs-6"> -->
        <%= simple_form_for @cocktail do |f| %>
        <%= f.text_field :name, placeholder: 'cocktail name'%>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit %>
        <% end %>
      <!-- </div> -->
    </div>
  </div>

</div>
